@page "/ativos"
@using MyInvestments.Ativos
@using MyInvestments.ClasseAtivos
@using MyInvestments.ExcelExport
@using MyInvestments.Localization
@using MyInvestments.Setores
@using Volo.Abp.AspNetCore.Components.Web
@inherits MyInvestmentsComponentBase
@inject IAtivoAppService AtivoAppService
@inject AbpBlazorMessageLocalizerHelper<MyInvestmentsResource> LH
@inject ISetorAppService SetorAppService
@inject IClasseAtivoAppService ClasseAtivoAppService
@inject IExportToExcelAppService ExportToExcelAppService
@inject IJSRuntime JsRuntime

<Card>
    <CardHeader>
        <Row Class="justify-content-between">
            <Column ColumnSize="ColumnSize.IsAuto">
                <h2>@L["Ativos"]</h2>
            </Column>
            <Column ColumnSize="ColumnSize.IsAuto">
                @if (CanCreateAtivo)
                {
                    <Button Color="Color.Primary"
                            Clicked="OpenCreateAtivoModal">
                        @L["NewAtivo"]
                    </Button>
                }
            </Column>
        </Row>
        <Row Class="justify-content-between">
            <Column ColumnSize="ColumnSize.IsAuto">
                <Validations @ref="validationsRef" Mode="ValidationMode.Manual">
                    <Validation Validator="@ValidationRule.IsNotEmpty">
                        <Field>
                            <TextEdit @bind-Text="@SearchAtivo" Placeholder=@L["SearchTicker"] />
                        </Field>
                    </Validation>
                </Validations>
            </Column>
            <Column>
                <Button Color="Color.Primary" Clicked="@Search">@L["Search"]</Button>
            </Column>
        </Row>
    </CardHeader>
    <CardBody>
        <DataGrid TItem="AtivoDto"
                  Data="AtivoList"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  PageSize="PageSize">
            <DataGridColumns>
                <DataGridColumn Width="150px"
                                TItem="AtivoDto"
                                Field="@nameof(AtivoDto.Id)"
                                Sortable="false"
                                Caption="@L["Actions"]">
                    <DisplayTemplate>
                        <Dropdown>
                            <DropdownToggle Color="Color.Primary">
                                @L["Actions"]
                            </DropdownToggle>
                            <DropdownMenu>
                                @if (CanEditAtivo)
                                {
                                    <DropdownItem Clicked="() => OpenEditAtivoModal(context)">
                                        @L["Edit"]
                                    </DropdownItem>
                                }
                                @if (CanDeleteAtivo)
                                {
                                    <DropdownItem Clicked="() => DeleteAtivoAsync(context)">
                                        @L["Delete"]
                                    </DropdownItem>
                                }
                            </DropdownMenu>
                        </Dropdown>
                    </DisplayTemplate>
                </DataGridColumn>

                <DataGridColumn TItem="AtivoDto"
                                Field="@nameof(AtivoDto.Ticker)"
                                Caption="@L["Ticker"]">
                </DataGridColumn>

                <DataGridColumn TItem="AtivoDto"
                                Field="@nameof(AtivoDto.Nome)"
                                Caption="@L["Name"]">
                </DataGridColumn>

                <DataGridColumn TItem="AtivoDto"
                                Field="@nameof(AtivoDto.Descricao)"
                                Caption="@L["DescriptionAsset"]">
                </DataGridColumn>

                <DataGridColumn TItem="AtivoDto"
                                Caption="@L["SetorDescricao"]">
                                <DisplayTemplate>
                                    @context.Setor.Descricao
                                </DisplayTemplate>
                </DataGridColumn>

                <DataGridColumn TItem="AtivoDto"
                                Caption="@L["ClasseNome"]">
                                <DisplayTemplate>
                                    @context.ClasseAtivo.Nome
                                </DisplayTemplate>
                </DataGridColumn>

            </DataGridColumns>
        </DataGrid>

        <Row Class="d-flex px-0 mx-0 mb-1">
            <Button Clicked="@(ExportToExcel)" class="p-0 ml-auto mr-2" style="background-color: transparent"
                    title="Download">
                <span class="fa fa-file-excel fa-lg m-0" style="color: #008000; background-color: white;"
                      aria-hidden="true">
                </span>
                @L["Export"]
            </Button>
        </Row>

    </CardBody>
</Card>

<Modal @ref="CreateAtivoModal">
    <ModalBackdrop />
    <ModalContent IsCentered="true">
        <Form>
            <ModalHeader>
                <ModalTitle>@L["NewAtivo"]</ModalTitle>
                <CloseButton Clicked="CloseCreateAtivoModal" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@CreateValidationsRef" Model="@NewAtivo" ValidateOnLoad="false">

                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Ticker"]</FieldLabel>
                            <TextEdit @bind-Text="@NewAtivo.Ticker">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>

                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Nome"]</FieldLabel>
                            <TextEdit @bind-Text="@NewAtivo.Nome">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>

                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Descricao"]</FieldLabel>
                            <TextEdit @bind-Text="@NewAtivo.Descricao">
                                <Feedback>
                                    <ValidationError/>
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>

                    <Field>
                        <FieldLabel>@L["Setor"]</FieldLabel>
                        <Select TValue="Guid" @bind-SelectedValue="@NewAtivo.SetorId">
                            @foreach (var setor in setorList)
                            {
                                <SelectItem TValue="Guid" Value="@setor.Id">
                                    @setor.Descricao
                                </SelectItem>
                            }
                        </Select>
                    </Field>

                    <Field>
                        <FieldLabel>@L["ClasseAtivo"]</FieldLabel>
                        <Select TValue="Guid" @bind-SelectedValue="@NewAtivo.ClasseAtivoId">
                            @foreach (var classeAtivo in classeAtivoList)
                            {
                                <SelectItem TValue="Guid" Value="@classeAtivo.Id">
                                    @classeAtivo.Nome
                                </SelectItem>
                            }
                        </Select>
                    </Field>

                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateAtivoModal">
                    @L["Cancel"]
                </Button>
                <Button Color="Color.Primary"
                        Type="@ButtonType.Submit"
                        PreventDefaultOnSubmit="true"
                        Clicked="CreateAtivoAsync">
                    @L["Save"]
                </Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

<Modal @ref="EditAtivoModal">
    <ModalBackdrop />
    <ModalContent IsCentered="true">
        <Form>
            <ModalHeader>
                <ModalTitle>@EditingAtivo.Descricao</ModalTitle>
                <CloseButton Clicked="CloseEditAtivoModal" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditValidationsRef" Model="@EditingAtivo" ValidateOnLoad="false">

                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Ticker"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingAtivo.Ticker">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>

                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Nome"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingAtivo.Nome">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>

                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Descricao"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingAtivo.Descricao">
                                <Feedback>
                                    <ValidationError/>
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>

                    <Field>
                        <FieldLabel>@L["Setor"]</FieldLabel>
                        <Select TValue="Guid" @bind-SelectedValue="@EditingAtivo.SetorId">
                            @foreach (var setor in setorList)
                            {
                                <SelectItem TValue="Guid" Value="@setor.Id">
                                    @setor.Descricao
                                </SelectItem>
                            }
                        </Select>
                    </Field>

                    <Field>
                        <FieldLabel>@L["ClasseAtivo"]</FieldLabel>
                        <Select TValue="Guid" @bind-SelectedValue="@EditingAtivo.ClasseAtivoId">
                            @foreach (var classeAtivo in classeAtivoList)
                            {
                                <SelectItem TValue="Guid" Value="@classeAtivo.Id">
                                    @classeAtivo.Nome
                                </SelectItem>
                            }
                        </Select>
                    </Field>

                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditAtivoModal">
                    @L["Cancel"]
                </Button>
                <Button Color="Color.Primary"
                        Type="@ButtonType.Submit"
                        PreventDefaultOnSubmit="true"
                        Clicked="UpdateAtivoAsync">
                    @L["Save"]
                </Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>
