@page "/setores"
@using MyInvestments.Setores
@using MyInvestments.ExcelExport
@using MyInvestments.Localization
@using Volo.Abp.AspNetCore.Components.Web
@inherits MyInvestmentsComponentBase
@inject ISetorAppService SetorAppService
@inject AbpBlazorMessageLocalizerHelper<MyInvestmentsResource> LH
@inject IExportToExcelAppService ExportToExcelAppService
@inject IJSRuntime JsRuntime
<Card>
    <CardHeader>
        <Row Class="justify-content-between">
            <Column ColumnSize="ColumnSize.IsAuto">
                <h2>@L["Setores"]</h2>
            </Column>
            <Column ColumnSize="ColumnSize.IsAuto">
                    @if (CanCreateSetor)
                    {
                        <Button Color="Color.Primary"
                                Clicked="OpenCreateSetorModal">
                            @L["NewSetor"]
                        </Button>
                    }
            </Column>
        </Row>
        <Row Class="justify-content-between">
            <Column ColumnSize="ColumnSize.IsAuto">
                <Validations @ref="validationsRef" Mode="ValidationMode.Manual">
                    <Validation Validator="@ValidationRule.IsNotEmpty">
                        <Field>
                            <TextEdit @bind-Text="@SearchSetor" Placeholder=@L["SearchSetor"] />
                        </Field>
                    </Validation>
                </Validations>
            </Column>
            <Column >
                <Button Color="Color.Primary" Clicked="@Search">@L["Search"]</Button>
            </Column>
        </Row>
    </CardHeader>
    <CardBody>
        <DataGrid TItem="SetorDto"
                  Data="SetorList"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  PageSize="PageSize"
                  Responsive="true">
            <DataGridColumns>
                <DataGridColumn Width="150px"
                                TItem="SetorDto"
                                Field="@nameof(SetorDto.Id)"
                                Sortable="false"
                                Caption="@L["Actions"]">
                    <DisplayTemplate>
                        <Dropdown>
                            <DropdownToggle Color="Color.Primary">
                                @L["Actions"]
                            </DropdownToggle>
                            <DropdownMenu>
                                @if (CanEditSetor)
                                {
                                    <DropdownItem Clicked="() => OpenEditSetorModal(context)">
                                        @L["Edit"]
                                    </DropdownItem>
                                }
                                @if (CanDeleteSetor)
                                {
                                    <DropdownItem Clicked="() => DeleteSetorAsync(context)">
                                        @L["Delete"]
                                    </DropdownItem>
                                }
                            </DropdownMenu>
                        </Dropdown>
                    </DisplayTemplate>
                </DataGridColumn>
                    
                    <DataGridColumn TItem="SetorDto"
                                Field="@nameof(SetorDto.Descricao)"
                                Caption="@L["Description"]">
                    </DataGridColumn>

            </DataGridColumns>
        </DataGrid>
        <Row Class="d-flex px-0 mx-0 mb-1">
            <Button Clicked="@(ExportToExcel)" class="p-0 ml-auto mr-2" style="background-color: transparent"
                    title="Download">
                <span class="fa fa-file-excel fa-lg m-0" style="color: #008000; background-color: white;"
                      aria-hidden="true">
                </span>
                @L["Export"]
            </Button>
        </Row>
    </CardBody>
</Card>

<Modal @ref="CreateSetorModal">
    <ModalBackdrop />
    <ModalContent IsCentered="true">
        <Form>
            <ModalHeader>
                <ModalTitle>@L["NewSetor"]</ModalTitle>
                <CloseButton Clicked="CloseCreateSetorModal" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@CreateValidationsRef" Model="@NewSetor" ValidateOnLoad="false">
                    
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Description"]</FieldLabel>
                            <TextEdit @bind-Text="@NewSetor.Descricao">
                                <Feedback>
                                    <ValidationError/>
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>

                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateSetorModal">
                    @L["Cancel"]
                </Button>
                <Button Color="Color.Primary"
                        Type="@ButtonType.Submit"
                        PreventDefaultOnSubmit="true"
                        Clicked="CreateSetorAsync">
                    @L["Save"]
                </Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

<Modal @ref="EditSetorModal">
    <ModalBackdrop />
    <ModalContent IsCentered="true">
        <Form>
            <ModalHeader>
                        <ModalTitle>@EditingSetor.Descricao</ModalTitle>
                        <CloseButton Clicked="CloseEditSetorModal" />
                    </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditValidationsRef" Model="@EditingSetor" ValidateOnLoad="false">
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Description"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingSetor.Descricao">
                                <Feedback>
                                    <ValidationError/>
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditSetorModal">
                    @L["Cancel"]
                </Button>
                <Button Color="Color.Primary"
                        Type="@ButtonType.Submit"
                        PreventDefaultOnSubmit="true"
                        Clicked="UpdateSetorAsync">
                    @L["Save"]
                </Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>
