@page "/tipotransacoes"
@using MyInvestments.TipoTransacoes
@using MyInvestments.ExcelExport
@using MyInvestments.Localization
@using Volo.Abp.AspNetCore.Components.Web
@inherits MyInvestmentsComponentBase
@inject ITipoTransacaoAppService TipoTransacaoAppService
@inject AbpBlazorMessageLocalizerHelper<MyInvestmentsResource> LH
@inject IExportToExcelAppService ExportToExcelAppService
@inject IJSRuntime JsRuntime
<Card>
    <CardHeader>
        <Row Class="justify-content-between">
            <Column ColumnSize="ColumnSize.IsAuto">
                <h2>@L["TipoTransacoes"]</h2>
            </Column>
            <Column ColumnSize="ColumnSize.IsAuto">
                    @if (CanCreateTipoTransacao)
                    {
                        <Button Color="Color.Primary"
                                Clicked="OpenCreateTipoTransacaoModal">
                            @L["NewTipoTransacao"]
                        </Button>
                    }
            </Column>
        </Row>
        <Row Class="justify-content-between">
            <Column ColumnSize="ColumnSize.IsAuto">
                <Validations @ref="validationsRef" Mode="ValidationMode.Manual">
                    <Validation Validator="@ValidationRule.IsNotEmpty">
                        <Field>
                            <TextEdit @bind-Text="@SearchTipoTransacao" Placeholder=@L["SearchTipoTransacao"] />
                        </Field>
                    </Validation>
                </Validations>
            </Column>
            <Column>
                <Button Color="Color.Primary" Clicked="@Search">@L["Search"]</Button>
            </Column>
        </Row>
    </CardHeader>
    <CardBody>
        <DataGrid TItem="TipoTransacaoDto"
                  Data="TipoTransacaoList"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  PageSize="PageSize">
            <DataGridColumns>
                <DataGridColumn Width="150px"
                                TItem="TipoTransacaoDto"
                                Field="@nameof(TipoTransacaoDto.Id)"
                                Sortable="false"
                                Caption="@L["Actions"]">
                    <DisplayTemplate>
                        <Dropdown>
                            <DropdownToggle Color="Color.Primary">
                                @L["Actions"]
                            </DropdownToggle>
                            <DropdownMenu>
                                @if (CanEditTipoTransacao)
                                {
                                    <DropdownItem Clicked="() => OpenEditTipoTransacaoModal(context)">
                                        @L["Edit"]
                                    </DropdownItem>
                                }
                                @if (CanDeleteTipoTransacao)
                                {
                                    <DropdownItem Clicked="() => DeleteTipoTransacaoAsync(context)">
                                        @L["Delete"]
                                    </DropdownItem>
                                }
                            </DropdownMenu>
                        </Dropdown>
                    </DisplayTemplate>
                </DataGridColumn>
                    
                    <DataGridColumn TItem="TipoTransacaoDto"
                                Field="@nameof(TipoTransacaoDto.Descricao)"
                                Caption="@L["Description"]">
                    </DataGridColumn>

            </DataGridColumns>
        </DataGrid>
        <Row Class="d-flex px-0 mx-0 mb-1">
            <Button Clicked="@(ExportToExcel)" class="p-0 ml-auto mr-2" style="background-color: transparent"
                    title="Download">
                <span class="fa fa-file-excel fa-lg m-0" style="color: #008000; background-color: white;"
                      aria-hidden="true">
                </span>
                @L["Export"]
            </Button>
        </Row>
    </CardBody>
</Card>

<Modal @ref="CreateTipoTransacaoModal">
    <ModalBackdrop />
    <ModalContent IsCentered="true">
        <Form>
            <ModalHeader>
                <ModalTitle>@L["NewTipoTransacao"]</ModalTitle>
                <CloseButton Clicked="CloseCreateTipoTransacaoModal" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@CreateValidationsRef" Model="@NewTipoTransacao" ValidateOnLoad="false">
                    
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Description"]</FieldLabel>
                            <TextEdit @bind-Text="@NewTipoTransacao.Descricao">
                                <Feedback>
                                    <ValidationError/>
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>

                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateTipoTransacaoModal">
                    @L["Cancel"]
                </Button>
                <Button Color="Color.Primary"
                        Type="@ButtonType.Submit"
                        PreventDefaultOnSubmit="true"
                        Clicked="CreateTipoTransacaoAsync">
                    @L["Save"]
                </Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

<Modal @ref="EditTipoTransacaoModal">
    <ModalBackdrop />
    <ModalContent IsCentered="true">
        <Form>
            <ModalHeader>
                        <ModalTitle>@EditingTipoTransacao.Descricao</ModalTitle>
                        <CloseButton Clicked="CloseEditTipoTransacaoModal" />
                    </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditValidationsRef" Model="@EditingTipoTransacao" ValidateOnLoad="false">
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Description"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingTipoTransacao.Descricao">
                                <Feedback>
                                    <ValidationError/>
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditTipoTransacaoModal">
                    @L["Cancel"]
                </Button>
                <Button Color="Color.Primary"
                        Type="@ButtonType.Submit"
                        PreventDefaultOnSubmit="true"
                        Clicked="UpdateTipoTransacaoAsync">
                    @L["Save"]
                </Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>
